$bg-color: #f7f7f7;
$dark-blue: #003569;
$dark-gray: #999;

$light-blue: #3897F0;
$steel-blue: #448dc4;
$navbar: #00143f;
$orange: #f78115;
$red: #f10000;
$yellow: #dfff00;
$green: #21ba45;

$light-gray: #dcdddd;
$header-bg-color: #000000;

$home-menu-bg-color: #6462FF;
$home-menu-text-color: #393898;

$auth-bg-color : #393898; 
$auth-box-bg-color : #6462FF; 

$nav-bg-basic-color : #393898; 
//navbar music menuitem color
$nav-bg-music-selected-color: #6462FF;

//navbar model menuitem color
$nav-bg-model-selected-color: #9845ff;

//navbar story menuitem color
$nav-bg-story-selected-color: #e545ff;





