@import "./../../config/variables.scss";


.Button {
    height: 0.2em !important;
    width: 15em;
    padding: 0 10em !important;
    margin: 0em 0.5em !important;
    min-height: 0 !important;
    background-color: white !important;
    border-radius: 0 !important;
}