@import "./../../config/variables.scss";


.RootDivision {    
    background-color: $nav-bg-basic-color;
    .DesktopSegment {    
        max-width: $max-page-width;
        margin-left: auto;
        margin-right: auto;
    }
    
    .DesktopSegment {
        padding: 0 !important;
        max-width: $max-page-width;
        margin-left: auto;
        margin-right: auto;
        .MenuFixed {
            background-color: $navbar !important;
            padding-top: 1em;
        }
        .Menu, .MenuFixed {
            margin:0 !important;
            padding:0 !important;
            &:hover {
                color: $yellow !important;
            }
            .Container {
                padding: 0 !important;
                height: 5em;
                .DestopMeneItem{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    .LeftLogoMenuItem {
                        color: white; 
                        border-left: 0px; 
                        position: static;
                        margin: 0;
                        padding: 0;        
                        .LeftLogoImage {            
                            width: 150px;
                        }
                    }
                    .CategoryMenuDivision {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        height:100%;
                        width: 100%;
                        font-size: 1.5em;
                        padding: 0em 1em;
                        .MenuItemMusic, .MenuItemModel, .MenuItemStory, .MenuItemVideo, 
                        .MenuItemMusicSelected, .MenuItemModelSelected, .MenuItemStorySelected, .MenuItemVideoSelected {
                            flex: 1;
                            color: white;
                            position: static;
                            height:100%;             
                            margin: 0;
                            padding: 0;
                            align-items: center;
                            justify-content: center;
                            background-color: transparent;
                            
                            &:hover {
                                color: $dark-gray;
                            }
                        }           
                        .MenuItemMusicSelected {
                            background-color: $nav-bg-music-selected-color;
                        }
                        .MenuItemModelSelected {
                            background-color: $nav-bg-model-selected-color;
                        }
                        .MenuItemStorySelected {
                            background-color: $nav-bg-story-selected-color;
                        }
                        .MenuItemVideoSelected {
                            background-color: $nav-bg-model-selected-color;
                        }
                    }
                    
                    .MenuItemButton {
                        padding: 0 !important;
                        color: white;
                        position: static;
                        margin: 0;
                        &:hover {
                            color: $yellow !important;
                        }
                        .GmshopLogoImage {

                        }
                    }
                }
            }
        }
    }
    
    .Sidebar {
        .MenuItem, .MenuItemLanguage, .MenuItemButton {
            color: white !important;
            position: static;
            margin: 0;   
            margin: 0.5em;   
            font-size: 1.2em !important;
        }
        .MenuItemButton {
            padding: 0 !important;
            .Button {            
                margin: 0 0.5em !important;
                padding: 0.5em 0em !important;
                font-size: 1em !important;
                font-weight: normal !important;
                border-radius: 20px !important;
                background-color: rgba(33, 133, 208, 0.8);
                height: 2em !important;
                width: 100px;
                a, p {
                    padding-bottom: 20px !important;
                    color: white !important;
                }
            }
        }
    }
    .MobileSegment {
        min-height: 100vh !important;
    }
    
    .MobileSegment {
        padding: 0 !important;
        background-color: transparent !important;
        
        .SidebarPusher {
        }
        .MenuFixed {
            background-color: $navbar !important;
        }
        .Menu, .MenuFixed {
            margin:0 !important;
            padding:0 !important;
            .Container {
                padding-top: 1em !important;                
                padding-bottom: 1em !important;
                padding-left: 1em !important;
                padding-right: 1em !important;
                .BugerItem {
                    margin: 0;
                    padding: 0;
                    position: static;
                    color: white;
                }
                .LeftLogoMenuItem {
                    color: white; 
                    border-left: 0px; 
                    position: static;
                    margin: 0;
                    padding: 0;        
                    
                    .LeftLogoImage {            
                        width: 100px;
                    }
                }            
            }
        }
    }
}
